li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.list-item {
  display: flex;
}

.list-item p {
  margin: 10px;
}
.button {
  background-color: transparent;
  border: 0px;
}
